{% extends "base.html" %}


{% block content %}

<script src="/static/templates/main_page.js"></script>


<div class="MainPageContainer" id="theme">
    <label>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ThemeIcon1" id="ThemeIcon" onclick="changeImageTheme()">
            <path id="ThemeIconPath"
                  d="M4.069 13h-4.069v-2h4.069c-.041.328-.069.661-.069 1s.028.672.069 1zm3.034-7.312l-2.881-2.881-1.414 1.414 2.881 2.881c.411-.529.885-1.003 1.414-1.414zm11.209 1.414l2.881-2.881-1.414-1.414-2.881 2.881c.528.411 1.002.886 1.414 1.414zm-6.312-3.102c.339 0 .672.028 1 .069v-4.069h-2v4.069c.328-.041.661-.069 1-.069zm0 16c-.339 0-.672-.028-1-.069v4.069h2v-4.069c-.328.041-.661.069-1 .069zm7.931-9c.041.328.069.661.069 1s-.028.672-.069 1h4.069v-2h-4.069zm-3.033 7.312l2.88 2.88 1.415-1.414-2.88-2.88c-.412.528-.886 1.002-1.415 1.414zm-11.21-1.415l-2.88 2.88 1.414 1.414 2.88-2.88c-.528-.411-1.003-.885-1.414-1.414zm2.312-4.897c0 2.206 1.794 4 4 4s4-1.794 4-4-1.794-4-4-4-4 1.794-4 4zm10 0c0 3.314-2.686 6-6 6s-6-2.686-6-6 2.686-6 6-6 6 2.686 6 6z"/>
        </svg>
    </label>

    <div class="AndrewMaznin">
        <span style="color: red">А</span>ндрей
        <span style="color: red"> М</span>азнин
    </div>

    <div class="search">
        <span class="work-yandex">Хочу работать в Яндексе!</span>
    </div>
    <div class="about-me">
        <div class="about-me-subcontainer" id="title">
            <img src="/static/images/person-icon.png" class="person-icon">
            <span class="about-me-text">Обо мне</span>
        </div>

        <div id="about-me-bottom">
            <img src="/static/images/me-pic.jpg" class="me-pic">

            <div class="me-pic">
                <div class="about-me-list">
                    <div class="about-me-item">
                        <img src="/static/images/person-icon.png" class="list">
                        <span class="about-me-text">Мазнин Андрей Дмитриевич</span>
                    </div>

                    <div class="about-me-item">
                        <img src="/static/images/city-icon.png" class="list">
                        <span class="about-me-text">Магнитогорск</span>
                    </div>

                    <div class="about-me-item">
                        <img src="/static/images/school-icon.png" class="list">
                        <span class="about-me-text">МОУ "СОШ №56 УИМ"</span>
                    </div>

                    <div class="about-me-item">
                        <img src="/static/images/age-icon.png" class="list">
                        <span class="about-me-text">16 лет</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
